body {
  bottom: 0;
  font-family: 'Arial', sans-serif;
  color: white;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 0px 0px;
  overflow: hidden;
}

.flipH {
    display: inline-block;
    font-size: 25px;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.input_video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.container {
  position: absolute;
  background-color: white;
  width: 100%;
  max-height: 100%;
}

.canvas-container {
  display:flex;
  height: 100%;
  width: 100%;
  justify-content: right;
  align-items:center;
}

.output_canvas {
  max-width: 100% ;
  display: block;
  position: relative;
  left: 0;
  top: 0;
}

.view {
  position: absolute;
  left: 10;
  top: 10;
  width: fit-content;
  padding: 10px;
  font-size: 13px;
  line-height:  1.8em;
  border-radius: 8px;
  z-index: 1;
}

.control-panel {
  position: absolute;
  width: 26%;
  min-width: 320px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  line-height: 1.8em;
  color: black;
  left: 10px;
  top: 10px;
  padding: 5px;
  border-radius: 8px;
}

button {
    background-color: lightgrey;
    color: black;
    width: 85px;
    text-align: center;
    border: none;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
    transition-duration: 0.2s;
}

.control-panel input[type="button"]:hover {
  background-color: #056df5;
  color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
  color: grey;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: darkgrey;
  font-size: 11px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  line-height: 1em;
  z-index: 1;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.circle{
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background: lightgrey;
  text-align: center;
  line-height: 13px ;
}
